*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body {
    background-color: rgb(243, 244, 246);
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 8px;
    text-align: left;
}

tr:first-child th,
tr:last-child td {
    border-bottom: 0;
}

table, th, td {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

tr:hover {
    background-color: rgb(255, 221, 115) !important;
}

th {
    background-color: #07f;
    color: white;
    vertical-align: middle;
    padding: 10px 8px;
}

a {
    text-decoration: none;
}

a:link {
    color: #1a0dab;
}

a:hover {
    text-decoration: underline;
    color: red;
}

table a:visited {
    color: #e30032;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.font-bold {
    font-weight: bold;
}

.boxed {
    width: 100%;
    padding: 20px;
    box-shadow: #dcdcdc 0 2px 8px;
    background: #fff;
    border-radius: 5px;
    margin: 50px auto;
}

:root {
    --input-color: #383838;
    --input-border: #b3b3b3;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
    --input-border-focus: #275efe;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #ececec;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}

.form-field::-moz-placeholder {
    color: var(--input-placeholder);
}

.form-field:-ms-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::placeholder {
    color: var(--input-placeholder);
}

.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
}

.form-group > label,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group > label:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group > label:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.form-group > label:last-child,
.form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.form-group > label:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group > label {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within > label {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

.form-group:not(:last-child) {
    margin-bottom: 32px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.pb-30 {
    padding-bottom: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .col-75 {
    flex: 75%;
}

.flex-container .col-25 {
    flex: 25%;
}

.alert {
    padding: 16px;
    border-radius: 5px;
    background: red;
    color: white;
}

.photo img {
    border-radius: 4px;
    box-shadow: 0 2px 6px #777;
    width: 90%;
}

h2 {
    font-size: 50px;
}

hr {
    border-top: 1px solid #ddd;
    margin-top: 14px;
}

.back-page,
.output-json-link {
    position: fixed;
    padding: 5px 13px;
    background: #678efe;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 0 30px 30px 0;
    text-align: center;
    left: 0;
    top: 5px;
    z-index: 1;
}

.back-page:hover {
    background: #275efe;
}

.output-json-link:hover {
    background: #d70d53;
}

.output-json-link {
    border-radius: 30px 0 0 30px;
    right: 0;
    left: auto;
    top: 5px;
}

.menu-links a {
    display: block;
    padding: 6px;
    color: #444;
    text-decoration: none;
}

.menu-links a:hover {
    color: #4CAF50;
}

.menu-links-title {
    color: #444;
    padding: 8px 0;
    font-weight: bold;
    margin-top: 5px;
}

.badge::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
    display: inline-block;
    margin: 0 8px 0 0;
}

.badge-red.badge::before {
    background-color: red;
}

.badge-green.badge::before {
    background-color: #45a049;
}

.badge-blue.badge::before {
    background-color: #0f53cc;
}

.badge-purple.badge::before {
    background-color: #b70bde;
}

.badge-orange.badge::before {
    background-color: #de830b;
}

.badge-pink.badge::before {
    background-color: #de0b9b;
}

.badge-yellow.badge::before {
    background-color: #f6e700;
}

.badge-light-green.badge::before {
    background-color: #00ea04;
}

.name-image {
    width: 100px;
    border-radius: 50%;
}

.small-image {
    width: 50px;
}

.medium-image {
    width: 100px;
}

.trailers {
    /*display: flex;*/
}

.trailer-box {
    display: inline-block;
    width: 273px;
    margin-bottom: 15px;
    text-decoration: none;
    /*margin-right: 5px;*/
}

.trailer-box img {
    max-width: 100%;
    min-height: 140px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #c7c7c7;
}

.trailer-box .thumbnail {
    position: relative;
    display: flex;
}

.trailer-box .title {
    margin: 6px 0;
    font-size: 90%;
}

.trailer-box .duration {
    background: rgba(0, 0, 0, 0.73);
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    padding: 4px 8px;
    position: absolute;
    left: 6px;
    bottom: 6px;
    font-size: 80%;
}

.video {
    max-width: 100%;
    min-width: 100%;
}

.grid-box-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}

.head-title {
    margin: 10px 0;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.news-box {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
}

.news-box .thumbnail {
    position: relative;
    height: 180px;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 3px 0 #c7c7c7;
}

.news-box .thumbnail img {
    width: 100%;
    min-height: 140px;
}

.news-box .date,
.news-box .sourceLabel {
    background: rgba(0, 0, 0, 0.73);
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    padding: 4px 8px;
    position: absolute;
    font-size: 80%;
}

.news-box .date {
    right: 6px;
    top: 6px;
}

.news-box .sourceLabel {
    left: 6px;
    bottom: 6px;
}

.news-box .title {
    padding: 2px;
    margin: 6px 0;
    font-size: 90%;
    text-decoration: none;
    display: block;
}


.video-box {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
}

.video-box .thumbnail {
    position: relative;
    height: 180px;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 3px 0 #c7c7c7;
}

.video-box .thumbnail img {
    width: 100%;
    min-height: 180px;
}

.video-box .top-label,
.video-box .bottom-label {
    background: rgba(0, 0, 0, 0.73);
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    padding: 4px 8px;
    position: absolute;
    font-size: 80%;
}

.video-box .top-label {
    right: 6px;
    top: 6px;
}

.video-box .bottom-label {
    left: 6px;
    bottom: 6px;
}

.video-box .title {
    padding: 2px;
    margin: 6px 0;
    font-size: 90%;
    text-decoration: none;
    display: block;
}

.video-box time {
    font-size: 14px;
    color: #3c3c3c;
    padding: 2px;
    margin: 6px 0;
}